@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;800&display=swap&subset=cyrillic-ext');

@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'M PLUS 1', sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #20484F;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	background-color: #FAFAFA;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.hero__container {
	display: flex;
	padding: 60px 0 150px;

	.hero__text	{
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
		padding-bottom: 115px;

		.hero__slogan {
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;
			color: #20484F;
			margin: 115px 0 24px;
		}

		.hero__title {
			font-weight: 700;
			font-size: 64px;
			line-height: 120%;	
			color: #072125;
			margin-bottom: 32px;

			span {
				background-image: url("../img/icons/span-bg.png");
				background-repeat: no-repeat;
				background-position: bottom ;
				// display: inline-block;
				background-size: contain;
			}
		}
		.hero__description {
			font-weight: 400;
			font-size: 24px;
			line-height: 150%;
			color: #072125;
			margin-bottom: 48px;
		}
		.hero__inputs {
			display: flex;
			input {
				border-radius: 8px;
				padding: 16px 36px;
				font-weight: 400;
				font-size: 18px;
				line-height: 150%;
				cursor: pointer;
				text-transform: capitalize;
				transition: all 0.3s ease;

				&:hover {
					background-color: #B8E4DA;
					color: #20484F;
				}
			}
			.sign_up__btn {
				background-color: #20484F;
				color: #fff;
				margin-right: 20px;
			}
			.learn_more__btn {
				background: #FFFFFF;
				border: 1px solid rgba(32, 72, 79, 0.1);
				color: #072125;
			}
		}
	}
	.hero__image {
		flex-basis: 50%;
		display: flex;
		justify-content: start;
		flex-direction: column;

		.hero__img {
			padding-left: 105px;
			position: relative;

			.img__border {
				background-image: url(../img/icons/hero-border.png);
				background-position: top right;
				background-repeat: no-repeat;
				padding: 44px 40px 25px 28px;
				width: 100%;

				img {
					width: 95%;
					border-radius: 12px;
				}
			
			}
			.hero__avatar_el {
				position: absolute;
				top: 70px ;
				right: -40px;
				display: flex;
				flex-direction: row;
				background-color: #fff;
				padding: 17px 21px;
				border-radius: 12px;
				box-shadow: 0px 2px 20px rgba(189, 189, 189, 0.11);
				z-index: 1;

				.avatar__text {
					padding-left: 20px;
					display: flex;
					flex-direction: column;

					.avatar__title {
						font-weight: 700;
						font-size: 24px;
						line-height: 30px;
						color: #072125;
					}
					.avatar__description {
						font-weight: 400;
						font-size: 16px;
						line-height: 150%;
					}
				}
			}
			.hero__peroject_ui {
				position: absolute;
				left: 0px;
				bottom: -18%;
			}
		}


	}
}

.company__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 41px 0 66px;

	.company__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
		text-align: center;

	}
	.company__logo_group {
		display: flex;
		margin-top: 46px;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		
		.company__logo {
			// margin: 0 44px;
			// width: 25%;
			height: auto;
		}
	}
}

// ===== responsive fonts ==================================================================================================
@media (max-width: 1250px) {

	.hero__container .hero__text .hero__title {
		font-size: calc(20px + (64 - 20)*((100vw - 320px)/(1200 - 320)));;
	}
}





// ===== mobile ============================================================================================================

@media (max-width: $md3 + px) {

	.hero__container {
		display: flex;
		flex-direction: column;

		.hero__text {
			width: 100%;
			padding:  0 5%;
			.hero__slogan {
				margin-top: 0;
			}

		}
		.hero__image {
			width: 100%;
			display: flex;
			align-items: center;
		}
	}

	.company__container {
		padding: 20px 5%;

		.company__logo_group {
			.company__logo {
				width: 20%;
				margin: 5px auto;
				// height: 35px;
			}
		}
	}
}

@media (max-width: 500px) {

	.company__container {
		.company__logo_group {
			.company__logo {
				width: 45%;
				margin: 5px auto;
				
			}
		}
	}
}